@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

a {
  @apply transition-colors duration-300 ease-in-out;
}

button {
  @apply transition-all duration-300 ease-in-out;
}

input,
select {
  @apply transition-all duration-200 ease-in-out;
}